.edit-button {
	position: absolute;
	display: none;
	height: 100%;
	width: 100%;
	top:0;
	justify-content: center;
	align-items: center;
	transition: opacity 0.3s ease;
  }
  
  .edit-button button {
	background-color: #ff9800;
	color: white;
  }
  
  .stadium-image:hover {
	.edit-button {
		display: flex;
	}
  }
  .stadium-image:hover img {
	filter: blur(2px)
  }